<h1><center>ANALYSING TORONTO NEIGHBOURHOOD</center></h1>

Hello, I shall be using PANDAS to import the data from WIKIPEDIA page as given

In [5]:
import pandas as pd
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

df=pd.read_html(url, header=0)[0]

df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned                        NaN
1         M2A      Not assigned                        NaN
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

Next we are Removing the Rows from the Dataframe which has Borough as **Not assigned**. In the dataset there was no neighbourhood names across the Borough which are Not Assigned. Hence removing from Dataframe

In [6]:
df=df[df.Borough != 'Not assigned']
df

,Postal Code,Borough,Neighborhood
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
5,M6A,North York,"Lawrence Manor, Lawrence Heights"
6,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
160,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
165,M4Y,Downtown Toronto,Church and Wellesley
168,M7Y,East Toronto,Business reply mail Processing Centre
169,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [7]:
df.shape

(103, 3)

Now we shall be importing the Downloaded CSV File from the Link provided

In [17]:
# importing csv for Geospatial Coordinates
import pandas as pd
gc=pd.read_csv('http://cocl.us/Geospatial_data/Geospatial_Coordinates.csv')

Check the Data that has been downloaded -

In [21]:
gc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Now we shall be merging the two Data Frame on Postal Code

In [13]:
merged_df=pd.merge(df,gc,on=["Postal Code"])

Checking the Output -

In [19]:
merged_df.head()

,Postal Code,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494

In [20]:
merged_df.shape

(103, 5)